.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* You can also set a fixed width and height for the container */
    width: 100%;
    height: 100%;
  }
  .sized-image {
    width: 100px; /* Set the desired width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
  }

  .color-b {
  color: #2eca6a;
}
.custom-frame {
    border: 5px solid #ccc; /* Border width and color */
    border-radius: 15px; /* Rounded corners for the frame */
    padding: 10px; /* Space between the frame and the image */
}

.general {
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain the aspect ratio */
}
